{% extends "ndf/base.html" %}

{% block content %}
{% load i18n %}
{% load ndf_tags %}
{% get_group_name group_id as group_name_tag %}
{% check_is_gstaff group_id request.user as is_gstaff %}
{% get_node group_id as group_obj %}

<style>
</style>

<div class="modal fade" id="Modal" data-backdrop="static"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-lg  modal-dialog  modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
    <!-- for header text change the text inside --> 
	<h5 class="modal-title w-100 text-center " style="color: #713;" id="exampleModalLabel"> SCHOOL SYNERGY WORKSHOP SERIES 2021</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <div class="modal-body">
<span> 
<!--<img class="img-fluid mx-auto " src="/static/ndf/CLIxOERAnniversary_800x500-04.jpg" style="display:block; " alt="CLIx Anniversary_SM_v3-02.jpg"  >
-->
<img class="img-fluid mx-auto " src="https://clixplatform.tiss.edu/softwares/clixoer_event_popup/event_popup.jpg" style="display:block; " alt="Event.jpg" height="500"> 
</span>

<div class="text-center">
<!-- for registration link change the 'href' link- href="http://bit\
.ly/SSWS-28" --> 
<button class="btn btn-dark " > <a class="nav-link text-white" href="http://bit.ly/SSWS-28" target="_blank"> Registration Link </a>  </button>

</div> 
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="u"   style="">
    <div class="row">

{% include "ndf/oer_breadcrumbs.html" %}
</div>
<div class="row" id="x">
{% include "ndf/OER_TOC.html" %}

{% include "ndf/module_cards.html" %}
                                                                                                        
<!--</div>-->
</div>       
</div> 

{% include "ndf/pagination.html" %}                                                                                                           

    <div class="">

 {% if request.LANGUAGE_CODE == 'en' %}
               {% include "ndf/Oer_teacher_courses.html"  %}
            {% elif request.LANGUAGE_CODE == 'hi' %}
               {% include "ndf/Oer_teacher_coursesHindi.html" %}
            {% else %}
               {% include "ndf/Oer_teacher_coursesTelgu.html" %}
            {% endif %}

      
  </div>
</div>
    {%  endblock  %}
