{% load ndf_tags %}
<div  id="filter-sidebar" class="col-12 col-sm-12 col-md-2   d-md-block d-lg-block  collapse  sliding-sidebar" 
 id="filter-sidebar" >
  <button class="btn btn-default navbar-btn  d-block d-sm-block d-md-none mr-auto" data-toggle="collapse" data-target="#filter-sidebar">
      <i class="fa fa-times"></i> 
    </button>

<!--
<div col="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 navbar-collapse d-md-block d-lg-block " id="navbarCollapse">
<button class="navbar-toggler bg-dark btn btn-primary d-block d-sm-block d-md-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse">
 <span class="navbar-toggler-icon"> X </span>  
</button> 
-->   
 <nav
          class=""          id="verticalScrollspy">
          <ul class="nav flex-column nav-pills nav-scroll" tabindex=""   >
            <li class="nav-item" >
              <a
                title=" About-COOL-OER"
                class="nav-link active "
                href="#section1"
             >
                About COOL-OER
              </a>
            </li>
          <!--  <li class="nav-item">
              <a
                class="nav-link"
                title="Testimonials of student and teachers"
                href="#section-2"
              >
                Online webinar
              </a>
            </li> -->
            <li class="nav-item">
              <a
                class="nav-link"
                title=""
                href="#section2"
              >
                Knowledge Deepening({{koers_count}})
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                title=""
                href="#section3"
              >
                Creativity and 21st century skills ({{coers_count}})
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                title=""
                href="#section4"
              >
                  Tinkering and making              ({{toers_count}})
              </a>
            </li>
         <!--   <li class="nav-item">
              <a
                class="nav-link"
                title=""
                href="#section5"
              >
               Share your story 
              </a>
            </li>
      

--> <li class="nav-item" >
              <a
                title=" "
                class="nav-link active "
                href="#section6"
             >
               Contact Us
              </a>
            </li>
<li class="nav-item"     >
<div class="collapsed" data-toggle="collapse" data-target="#domain3"  >
<p> <h6>  Language Support   <i class="fa fa-fw fa-caret-down parent-expanded"></i>
           <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
  </h6>  </p>
<hr>
</div> <div class="collaspe show" id="domain3">
  <div class="checkbox">
      <label  class="b-contain" ><input type="checkbox" name="Language_support[]"  class="coolfilter"  value="en" id="eng"   autocomplete="off">English ({{lang|get_item:'en'}})
<div class="b-input"> </div>
  </label>          </div>      <div class="checkbox">      <label   class="b-contain" ><input type="checkbox" class="coolfilter" 
name="Language_support[]" value="hi" id="hindi"   autocomplete="off">Hindi ({{lang|get_item:'hi'}})                                                            
<div class="b-input"> </div>
 </label>
    </div>
    <div class="checkbox">
      <label  class="b-contain" ><input type="checkbox" class="coolfilter" name="Language_support[]" value="ma" id="marathi" autocomplete="of" >Marathi ({{lang|get_item:'ma'}})          <div class="b-input"> </div>
         </label>              </div>                                                                                                        
                             <div class="checkbox">

      <label  class="b-contain" ><input type="checkbox" class="coolfilter" name="Language_support[]"  value="te" id="telugu" autocomplete="of">Telugu   ({{lang|get_item:'te'}})
<div class="b-input"> </div>
</label> </div> <div class="checkbox">



      <label  class="b-contain" ><input type="checkbox" class="coolfilter" name="Language_support[]" value="ta" id="tamil"
 autocomplete="off">Tamil  ({{lang|get_item:'ta'}})
<div class="b-input"> </div></label> </div>


 <div class="checkbox"><label  class="b-contain" ><input type="checkbox"  class="coolfilter" name="Language_support[]"  value="pu" id="Punjabi" autocomplete="off">Punjabi ({{lang|get_item:'pu'}})<div class="b-input"> </div> <label/>
</div>
 </div>
</li>
<li class="nav-item pt-5  "  >

<div class="collapsed" data-toggle="collapse" data-target="#domain1"  >
<h6 class=""> Subject Domain  <i class="fa fa-fw fa-caret-down parent-expanded"></i>
            <i class="fa fa-fw fa-caret-right parent-collapsed"></i>   </h6> </div>

<hr>




<div class="collapase show" id="domain1">

  <div class=" checkbox ">
      <label class="b-contain" > Multiple Subjects ({{subjt|get_item:'MultipleSubjects'}})<input type="checkbox"  name="subject_domain[]" class="coolfilter"  value="Multiple Subjects" id="Multiple-subject">

<div class="b-input"> </div>
</label>
    </div>
    <div class="checkbox">
      <label  class="b-contain" ><input type="checkbox" class="coolfilter"  name="subject_domain[]"   value="Art" id="Art"  
 autocomplete="off">Art ({{subjt|get_item:'art'}})
      <div class="b-input"> </div>
</label>
    </div> 

    <div class="checkbox ">
      <label   class="b-contain" ><input type="checkbox" class="coolfilter"  name="subject_domain[]"  value="Science"  id="Science"  autocomplete="off"> Science ({{subjt|get_item:'Science'}})
 <div class="b-input"> </div>
  </label>
  </div>
 <div class="checkbox">
      <label  class="b-contain" ><input type="checkbox" class="coolfilter"  name="subject_domain[]"   value="Language" id="Art"
 autocomplete="off">Language ({{subjt|get_item:'language'}})
      <div class="b-input"> </div>
</label>
    </div>

 <div class="checkbox">
      <label  class="b-contain" ><input type="checkbox" class="coolfilter"   name="subject_domain[]"  value="Mathematics" id="Mathematics"

 autocomplete="off">Mathematics ({{subjt|get_item:'Mathematics'}})
<div class="b-input"> </div>
</label>
    </div>
<!--
 <div class="checkbox">
      <label><input type="checkbox" value="">Language Learning</label>
    </div>
 <div class="checkbox">
      <label><input type="checkbox" value="">Social Science </label>
    </div>
-->
</div>
</li>

<li class="nav-item">
<div class="collapsed" data-toggle="collapse" data-target="#domain2"  >

<p class="h6"> Resource Type  <i class="fa fa-fw fa-caret-down parent-expanded"></i>
            <i class="fa fa-fw fa-caret-right parent-collapsed"></i>  </p>                                                
<hr>
</div>
<div class="collaspe show" id="domain2">             
<!--                                                      
  <div class="checkbox">                                                                                                                      
      <label><input type="checkbox" value=""> Courses</label>   
    </div>                                                                                                                                      -->
    <div class="checkbox">                                                                                                                    
      <label  class="b-contain" ><input type="checkbox" class="coolfilter" name="Resouce_type[]" value="Hands-on" id="handson"> <img src="/static/ndf/noun_Game_694760.svg" alt="Hands On"  style="width:14%" class="img-fluid"> Hands On  ({{rsrc|get_item:'Hands_On'}}) 
<div class="b-input"> </div>
</lable>                                                                   
    </div>                                                                                                                                    
    <div class="checkbox ">                                                                                                           
      <label  class="b-contain" ><input type="checkbox" class="coolfilter" name="Resouce_type[]" value="Forum" id="forum"> <img src="/static/ndf/noun_forum_563603.png" alt="Forum " style="width:14%" class="img-fluid">  Forum  ({{rsrc|get_item:'Forum'}})                                                      

<div class="b-input"> </div>
 <label/>
    </div>
   <!--                                                                                                                                  <div cl<<div class="checkbox">
      <label><input type="checkbox" value="">Game</label>
    </div>
-->
 <div class="checkbox">
      <label  class="b-contain" ><input type="checkbox" class="coolfilter" name="Resouce_type[]" value="Simulation" id="simu"><img src="/static/ndf/noun_atom_954768.svg" alt="Simulation"   style="width:14%" class="img-fluid">   Simulation ({{rsrc|get_item:'Simulation'}})
<div class="b-input"> </div>
  <label/>
    </div>
<!--
 <div class="checkbox">
      <label><input type="checkbox" value="">Repository</label>
    </div>
-->
 <div class="checkbox">
      <label  class="b-contain" ><input type="checkbox" class="coolfilter" name="Resouce_type[]" value="Tool" id="tool"> <img src="/static/ndf/noun_Gears_1111296.svg" alt="Tool"   style="width:14%" class="img-fluid">   Tool ({{rsrc|get_item:'Tool'}})
<div class="b-input"> </div>
    <label/>
    </div>
</div>
</li>
<!--
<li class="nav-item"   id="checkbox-container"  >
<div class="collapsed" data-toggle="collapse" data-target="#domain3"  >
<p> <h6>  Language Support   <i class="fa fa-fw fa-caret-down parent-expanded"></i>
           <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
  </h6>  </p>                                  
<hr>      
</div> <div class="collaspe show" id="domain3">                                                                           
  <div class="checkbox">                                                                                                                     
      <label  class="b-contain" ><input type="checkbox" name="Language_support[]"  class="coolfilter"  value="en" id="eng"   autocomplete="off">English (cnt)    
<div class="b-input"> </div>
  </label>          </div>      <div class="checkbox">      <label   class="b-contain" ><input type="checkbox" class="coolfilter" name="Language_support[]" value="hi" id="hindi"   autocomplete="off">Hindi (cnt)                                                                      <div class="b-input"> </div>
 </label>
    </div>                                                                                                                                   
    <div class="checkbox">                                                                                                           
      <label  class="b-contain" ><input type="checkbox" class="coolfilter" name="Language_support[]" value="ma" id="marathi" autocomplete="off" >Marathi (cnt)          <div class="b-input"> </div>
         </label>              </div>                                                                                                                                     <div class="checkbox">
      <label  class="b-contain" ><input type="checkbox" class="coolfilter" name="Language_support[]"  value="te" id="telugu" autocomplete="off">Telugu   (cnt)
<div class="b-input"> </div>
</label> </div> <div class="checkbox">
      <label  class="b-contain" ><input type="checkbox" class="coolfilter" name="Language_support[]" value="ta" id="tamil" 
 autocomplete="off">Tamil  (cnt)
<div class="b-input"> </div></label> </div>
 <div class="checkbox"><label  class="b-contain" ><input type="checkbox"  class="coolfilter" name="Language_support[]"  value="pu" id="Punjabi" autocomplete="off">Punjabi<div class="b-input"> </div> <label/>
</div>
 </div>
</li>
-->

<li class="nav-item"   >

<div class="collapsed" data-toggle="collapse" data-target="#domain4"  >

<p ><h6>  Grade <i class="fa fa-fw fa-caret-down parent-expanded"></i>
            <i class="fa fa-fw fa-caret-right parent-collapsed"></i> </h6> </p>                                                  
<hr>    
</div>

 <div class="collapse show" id="domain4">                                                             
  <div class="checkbox">                                                                                                                      
      <label  class="b-contain" ><input type="checkbox" class="coolfilter" name="Grade[]" value="K-12" id="k12" autocomplete="off">K-12  ({{grade|get_item:'K-12'}})        <div class="b-input"> </div>
                                              </label>
    </div>                                                                                                                                    
    <div class="checkbox">                                                                                                                    
      <label  class="b-contain" ><input type="checkbox" class="coolfilter" name="Grade[]"  value="6-12" id="upri" autocomplete="off">Uppar Primary(6-12) ({{grade|get_item:'6-12'}})   <div class="b-input"> </div>
                                                                  </label>
    </div>                                                                                                                                    <!--
    <div class="checkbox ">                                                                                                           
      <label><input type="checkbox" value="" >Secondary(9-12)</label>                                                                        
    </div>                                                                                                                                    -->
 </div>

</li>

    </ul>


        </nav>
</div>
<script>

$(document).on("click", '.coolfilter', function(e) {
 //$('.coolfilter').click(function(e) {

let arr = $("input[name='Language_support[]']:checked").map(function(){
  return $(this).val();
}).get();

console.log(arr);

let Grade = $("input[name='Grade[]']:checked").map(function(){
  return $(this).val();
}).get();

console.log(Grade);
let subdomain = $("input[name='subject_domain[]']:checked").map(function(){
  return $(this).val();
}).get();

console.log(subdomain);
let resourcetype = $("input[name='Resouce_type[]']:checked").map(function(){
  return $(this).val();
}).get();
console.log(resourcetype);

{
            $.ajax({
                type: "POST",
                url: "{% url 'cool_oer_filter' %}",
                datatype:"html",
                traditional: true,
                data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
         //      value_group: value,
                 Language_support : arr,
                 subdomain: subdomain,
                 resourcetype : resourcetype,
                 Grade:Grade,
                 lang: '{{ lang }}',
                 subjt: '{{ subjt }}',
                 rsrc: '{{ rsrc }}',
                 grde: '{{ grade }}',
                },
                beforeSend: function() {
                 $("#waitforme").show();


 },
  success: function(data) {                console.log('it worked');

                 //$('#sidebar').html('#');
                 $("#waitforme").hide();
 //$('#x').html(data);
                 $('#ci').html(data);
                //  console.log(data)

                },
                 error: function() {
                 //   $("exampleModalCenterErrorPage").html(data);
           console.log("fake error");
              },
                complete: function() {
                  //  alert('it completed');
                },
            });


      //};
}});



jQuery(function(){
    if (localStorage.input) {
        var checks = JSON.parse(localStorage.input);
        jQuery(':checkbox').prop('checked', function(i) {
            return checks[i];
        });
    }
});

jQuery(':checkbox').on('change', function() {
    localStorage.input = JSON.stringify(jQuery(':checkbox').map(function() {
return this.checked;
    }).get());

});
window.onload = function()
{
 window.localStorage.clear();
}
</script>
