{% extends "ndf/base.html" %}

{% load ndf_tags %}
{% load i18n %}

{% block content %}
<style>
table {
font-size: 16px;
}
#oer_oer p {
font-size : 16px !important;
margin-bottom : 0px;
}
#oer_oer h1{
font-weight: 300;
}
.card-cool i { 
font-size: 12px;
}
#verticalScrollspy > ul > li  > a  {
font-size: 14px !important;
}
a.cool{
color: inherit
}
#more {display: none;}

.card:hover {
    box-shadow: 4px 8px 12px 0 rgba(0,0,0,0.3);
    cursor: pointer;

    transition: all 0.2s ease;

  }
.ribbon3 {
  width: 150px;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  position: absolute;
  left: -8px;
  top: 20px;
  background: #59324C;
}
.ribbon3:before, .ribbon3:after {
  content: "";
  position: absolute;
}
.ribbon3:before {
  height: 0;
  width: 0;
  top: -8.5px;
  left: 0.1px;
  border-bottom: 9px solid black;
  border-left: 9px solid transparent;
}
.ribbon3:after {
  height: 0;
  width: 0;
  right: -14.5px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 15px solid #59324C;
}
.ribbonFake {
  position: absolute;
  top: 15px;
  padding: 8px 10px;
  background: #00B3ED;
  box-shadow: -1px 2px 3px rgba(0,0,0,.3);
}
.ribbonFake:before, .ribbon4:after {
  content: "";
  position: absolute;
}
.ribbonFake:before {
  width: 7px;
  height: 100%;
  top: 0;
  left: -6.5px;
  padding: 0 0 7px;
  background: inherit;
  border-radius: 5px 0 0 5px;
}
.ribbonFake:after {
  width: 5px;
  height: 5px;
  bottom: -5px;
  left: -4.5px;
  background: lightblue;
  border-radius: 5px 0 0 5px;
 }

  .breadcrumb li {
background: #9693a3 !important;
color:#fff !important;
}
.breadcrumb li a {
color:#fff !important;
text-decoration: none;

}

.box {
  width: 400px;
  height: 600px;
  margin: 50px auto;
  background: #fff;
  border-radius: 3px;
}

[class^="ribbon-"] {
  position: relative;
}
[class^="ribbon-"]:before, [class^="ribbon-"]:after {
  content: "";
  position: absolute;
}

.ribbon-2 {
  
  width:67%;
  height: 25px;
  background: #21749a;
  left: -8px;
 margin-top: 10px;
}
.ribbon-2:before {
  height: 0;
  width: 0;
  border-bottom: 8px solid #14455b;
  border-left: 8px solid transparent;
  top: -8px;
}
.ribbon-2:after {
  height: 0;
  width: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 15px solid #21749a;
  right: -15px;
}
.fake-link, .fake-link:hover{

text-decoration: none;
color:inherit;
}

.ribbon-content {
  height: inherit;
  margin-bottom: 0;
  background: #37b7c7;
  z-index: 100;
}
.ribbon-content:before {
  height: 0;
  width: 0;
  border-top: 10px solid #26808b;
  border-left: 10px solid transparent;
  bottom: -10px;
}
.ribbon-content:after {
  height: 0;
  width: 0;
  border-top: 10px solid #26808b;
  border-right: 10px solid transparent;
  right: 0;
  bottom: -10px;
}


[data-toggle="collapse"] {
  cursor: pointer;
}

.fixed-top.d-block + .row {
    padding-top: 60px;
  }

  .btn .d-block .d-sm-block {
    display: inline-block !important;
  }
 @media (max-width: 766px) {
   .sliding-sidebar {
/*
     overflow-y:scroll;
    position: absolute;
    scroll: smooth;
    z-index: 1;
    background: #fff;
overflow-y: scroll !important;
    min-height: 100%;
    border-right: 1px solid #ccc;

*/
 overflow-y:scroll;
        position: fixed;
        z-index:2000;
        background-color:#fff;
        top: 0px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        height: 100%;
  }
  .sliding-sidebar.collapse, .sliding-sidebar.collapsing {
    display: block !important;
    -webkit-transform: translate3D(-100%, 0, 0);
            transform: translate3D(-100%, 0, 0);
    -webkit-transition: all 200ms;
    transition: all 200ms;
  }
  .sliding-sidebar.collapse.show {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05), 2px 0 0 rgba(0, 0, 0, 0.05), 3px 0 0 rgba(0, 0, 0, 0.05);
  }

    }


.b-contain *, .b-contain *::before, .b-contain *::after {
box-sizing: content-box !important;
}

.b-contain input {
position: absolute;
z-index: -1;
opacity: 0;
}

.b-contain span {
line-height: 1.54;
font-size: 1rem;
font-family: inherit;
}

.b-contain {
display: table;
position: relative;
padding-left: 1.8rem;
cursor: pointer;
margin-bottom: .5rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
position: absolute;
top: 0;
left: 0;
height: 1.25rem;
width: 1.25rem;
background: rgba(241, 245, 248, 1);
transition: background 250ms;
border: 1px solid rgba(184, 194, 204, 1);
border-radius: 0.125rem;
}

.b-contain input[type="radio"] ~ .b-input {
position: absolute;
top: 0;
left: 0;
height: 1.25rem;
width: 1.25rem;
background: rgba(241, 245, 248, 1);
transition: background 250ms;
border: 1px solid rgba(184, 194, 204, 1);
border-radius: 2.0rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
content: '';
position: absolute;
display: none;
left: .45rem;
top: .18rem;
width: .25rem;
height: .6rem;
border: solid rgba(255, 255, 255, 1);
border-width: 0 2px 2px 0;
transition: background 250ms;
transform: rotate(45deg);
}

.b-contain input[type="radio"] ~ .b-input::after {
content: '';
position: absolute;
display: none;
left: .25rem;
top: .25rem;
width: .75rem;
height: .75rem;
border-radius: 2.0rem;
background: rgba(255, 255, 255, 1);
transition: background 250ms;
}

.b-contain input:disabled ~ .b-input::after {
border-color: rgba(135, 149, 161, 1);
}

.b-contain input:checked ~ .b-input::after {
display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
background: rgb(231, 238, 243);
}

.b-contain input:focus ~ .b-input {
box-shadow: 0 0 0 2px rgba(52,144,220,0.5);
}

.b-contain input:checked ~ .b-input {
background: rgba(0, 130, 243, 1);
border-color: rgba(0, 130, 243, 1);
}

.b-contain input[type="checkbox"]:disabled ~ .b-input {
background: rgba(241, 245, 248, 1);
border-color: rgba(184, 194, 204, 1);
opacity: 0.6;
cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input {
background: rgba(241, 245, 248, 1);
border-color: rgba(184, 194, 204, 1);
opacity: 0.6;
cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input::after {
background: rgba(135, 149, 161, 1);
}

.b-contain input:checked:focus ~ .b-input, .b-contain:hover input:not([disabled]):checked ~ .b-input {
background: rgba(13, 143, 255, 1);
border-color: rgba(13, 143, 255, 1);
}

.b-contain .b-input::before {
content: '';
display: block;
position: absolute;
left: 0;
top: 0;
width: 3rem;
height: 3rem;
margin-left: -0.85rem;
margin-top: -0.85rem;
background: rgba(0, 130, 243, 1);
border-radius: 2rem;
opacity: .6;
z-index: 99999;
transform: scale(0);
}

@keyframes b-ripple {
0% {
transform: scale(0);
}

20% {
transform: scale(1);
}

100% {
opacity: 0;
transform: scale(1);
}
}

@keyframes b-ripple-duplicate {
0% {
transform: scale(0);
}

30% {
transform: scale(1);
}

60% {
transform: scale(1);
}

100% {
opacity: 0;
transform: scale(1);
}
}

.b-contain input + .b-input::before {
animation: b-ripple 250ms ease-out;
}

.b-contain input:checked + .b-input::before {
animation-name: b-ripple-duplicate;
}

.b-contain .b-input::before {
visibility: hidden;
}

.b-contain input:focus + .b-input::before {
visibility: visible;
}

.b-contain:first-child .b-input::before {
visibility: hidden;
} 
.parent-collapsed {
  display: none;
   }

.collapsed .parent-expanded {
  display: none;
}
.collapsed .parent-collapsed {
  display: inline-block;
}
 #waitforme{
  position: fixed;
  top: 0;
  z-index: 11100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(359deg);
 }
}

</style>


  
    <div class="container-fluid hello"  >
<div id="waitforme">
  <div class="cv-spinner">
    <span class="spinner"></span>
    </div>
</div>

<nav aria-label="breadcrumb ">
          <ol class="breadcrumb ml-n5 mt-3">
            <li class="breadcrumb-item  " aria-current="page">
<a   href="{% url  'e-library' group_id %}  ">
 <i class="ml-2 fas fa-home fa-lg" ></i> </a> </li>
 <li class="breadcrumb-item "  aria-current="page" style="color:#000;">  <i class="ml-n2 fa fa-globe "></i><a href="{% url 'coolpage' %}" style="color:#fff;"> {% trans 'TISS-COOL' %}</a>  </li>
 <li class="breadcrumb-item " aria-current="page" style="color:#000;"> <a style="color:#fff;"
> </i>   {% trans 'COOL-OER' %} </li> </a>
          
          </ol>
        </nav>
<div class="navbar navbar-dark d-block d-sm-block">
<div class="container-fluid">

    <button class="btn btn-warning  navbar-btn  d-block d-sm-block d-md-none" data-toggle="collapse" data-target="#filter-sidebar">
      <i class="fa fa-tasks"></i> Filter Menu
    </button>

  <!--
<button class="navbar-toggler bg-dark btn btn-primary d-bock d-sm-block d-md-none" type="button" data-toggle="collapse" data-target="#navbarCollapase">
 <span class="navbar-toggler-icon" > </span>
</button>

 -->
 </div>
</div>
      <div class="row" id="ci">
       <!-- navbar  -->

  {% include "ndf/Thecooloer.html"  %}   




      </div>
    </div>


<script>


 {% for each in k_oers %}

function copyTextToClipboard(text) {
  var textArea = document.createElement("textarea");

  //
  // *** This styling is an extra step which is likely not required. ***
  //
  // Why is it here? To ensure:
  // 1. the element is able to have focus and selection.
  // 2. if element was to flash render it has minimal visual impact.
  // 3. less flakyness with selection and copying which **might** occur if
  //    the textarea element is not visible.
  //
  // The likelihood is the element won't even render, not even a flash,
  // so some of these are just precautions. However in IE the element
  // is visible whilst the popup box asking the user for permission for
  // the web page to copy to the clipboard.
  //

  // Place in top-left corner of screen regardless of scroll position.
  textArea.style.position = 'fixed';
  textArea.style.top = 0;
  textArea.style.left = 0;

  // Ensure it has a small width and height. Setting to 1px / 1em
  // doesn't work as this gives a negative w/h on some browsers.
  textArea.style.width = '2em';
  textArea.style.height = '2em';

  // We don't need padding, reducing the size if it does flash render.
  textArea.style.padding = 0;

  // Clean up any borders.
  textArea.style.border = 'none';
  textArea.style.outline = 'none';
  textArea.style.boxShadow = 'none';

  // Avoid flash of white box if rendered for any reason.
  textArea.style.background = 'transparent';


  textArea.value = text;

  document.body.appendChild(textArea);

  textArea.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    console.log('Copying text command was ' + msg);
  } catch (err) {
    console.log('Oops, unable to copy');
  }

  document.body.removeChild(textArea);
}


  function CopyLink(id) { 
 console.log(id) 
 copyTextToClipboard('window.location.origin + "/cool/oer/" +id');
};

{% endfor %}

//function CopyLink() {
 // copyTextToClipboard('');
//
//};


</script>

<script>


// COPY TO CLIPBOARD
// Attempts to use .execCommand('copy') on a created text field
// Falls back to a selectable alert if not supported
// Attempts to display status in Bootstrap tooltip
// ------------------------------------------------------------------------------

function copyToClipboard(text, el) {
  var copyTest = document.queryCommandSupported('copy');
  var elOriginalText = el.attr('data-original-title');

  if (copyTest === true) {
    var copyTextArea = document.createElement("textarea");
    copyTextArea.value = text;
    document.body.appendChild(copyTextArea);
    copyTextArea.select();
    try {
      var successful = document.execCommand('copy');
      var msg = successful ? 'Copied!' : 'Whoops, not copied!';
      el.attr('data-original-title', msg).tooltip('show');
    } catch (err) {
      console.log('Oops, unable to copy');
    }
    document.body.removeChild(copyTextArea);
    el.attr('data-original-title', elOriginalText);
  } else {
    // Fallback if browser doesn't support .execCommand('copy')
    window.prompt("Copy to clipboard: Ctrl+C or Command+C, Enter", text);
  }
}

$(document).ready(function() {
  // Initialize
  // ---------------------------------------------------------------------

  // Tooltips
  // Requires Bootstrap 3 for functionality
  $('.js-tooltip').tooltip();

  // Copy to clipboard
  // Grab any text in the attribute 'data-copy' and pass it to the 
  // copy function
  $('.js-copy').click(function() {
    var text = $(this).attr('data-copy');
    var el = $(this);
    copyToClipboard(text, el);
  });
});


</script>



<script>

function mytoggle() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
</script>

<script>
var checkboxValues = JSON.parse(localStorage.getItem('checkboxValues')) || {},
    $checkboxes = $("#checkbox-container :checkbox");

$checkboxes.on("change", function(){
  $checkboxes.each(function(){
    checkboxValues[this.id] = this.checked;
  });
  
  localStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
});

// On page load
$.each(checkboxValues, function(key, value) {
  $("#" + key).prop('checked', value);
});

$("a.explorelink").click(function() {
var id = $(this).attr("id");
console.log(id)

 var href = $(this).attr("href");
console.log(href)
$.ajax({                                                                                                                                                              
                            type: "POST",                                                                                                                              
                      url: "{% url 'increment_explorecnt' %}",                                                                                                 
                      data :{                                                                                                                                          
                              csrfmiddlewaretoken: "{{csrf_token }}",                                                                                                  
                              href_link : href,
                              node_id : id
                      },                                                                                                                                              
                      datatype: "html",                                                                                                                                
                      success: function(data) {                                                                                                                        
            console.log("success");                                                                                                                                    
                      }                                                                                                                                                
           });  

});
</script>

<script>
 

      $('#verticalScrollspy').scrollspy();

      (function() {
        // Your base, I'm in it!
        var originalAddClassMethod = jQuery.fn.addClass;

        jQuery.fn.aTpppppddClass = function() {
          // Execute the original method.
          var result = originalAddClassMethod.apply(this, arguments);

          // trigger a custom event
          jQuery(this).trigger("cssClassChanged");

          // return the original result
          return result;
        };
      })();


   $(".nav-item").bind('cssClassChanged' , function(e) {
       $(".nav-link").each( function() {
            if( $(this).hasClass("active") == true ) {
       $(this).removeClass("active");
            }
        });

       $(this).removeClass("active").parent().addClass("active");
    });
/*
$(document).on("click", '.coolfilter', function(e) {
 //$('.coolfilter').click(function(e) {

let arr = $("input[name='Language_support[]']:checked").map(function(){
  return $(this).val();
}).get();

console.log(arr);

let Grade = $("input[name='Grade[]']:checked").map(function(){
  return $(this).val();
}).get();

console.log(Grade);
let subdomain = $("input[name='subject_domain[]']:checked").map(function(){
  return $(this).val();
}).get();

console.log(subdomain);
let resourcetype = $("input[name='Resouce_type[]']:checked").map(function(){
  return $(this).val();
}).get();
console.log(resourcetype);


// e.preventDefault();
console.log("IN fileter");
//let value = $("input:checked").map(function(){
  //   return $(this).val();
    //}).get();

// value = $(this).val();
//console.log(value)
{
            $.ajax({
                type: "POST",
                url: "{% url 'cool_oer_filter' %}",
                datatype:"html",
                traditional: true,
                data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
         //      value_group: value,              
                 Language_support : arr,
                 subdomain: subdomain,
                 resourcetype : resourcetype, 
                 Grade:Grade,

                },
                beforeSend: function() {
                 $("#waitforme").show();
              

 },
                success: function(data) {                console.log('it worked');
                 
                 //$('#sidebar').html('#'); 
                 $("#waitforme").hide();
                 //$('#x').html(data);
                 $('#ci').html(data);                 
                //  console.log(data)
  
                },
                 error: function() {
                 //   $("exampleModalCenterErrorPage").html(data);
           console.log("fake error");         
              },
                complete: function() {
                  //  alert('it completed');
                },
            });

       
      //};

}});
*/
/*
$(function(){
    var test = localStorage.input === 'true'? true: false;
    $('input').prop('checked', test || false);
});

$('input').on('change', function() {
    localStorage.input = $(this).is(':checked');
    console.log($(this).is(':checked'));
});
*/
/*
jQuery(function(){
    if (localStorage.input) {
        var checks = JSON.parse(localStorage.input);
        jQuery(':checkbox').prop('checked', function(i) {
            return checks[i];
        });
    }
});

jQuery(':checkbox').on('change', function() {
    localStorage.input = JSON.stringify(jQuery(':checkbox').map(function() {
        return this.checked;
    }).get());
});
*/
    </script>   

  
{% endblock %}
