<style>

/*
ul{
 margin:0 auto;
    }
*/  
  </style>
    <div class="container" style="margin-bottom: 10px;">
            <div class="row">
                 <div class="col-5 text-center mx-auto">
                    <h1>
     <!--  Our -->
    COOL Team  </h1>
                 </div>
    {% if first_arg == 'English' %}         
        <div class="col-10 text-center mx-auto">
                  <!--  <p style="max-width: 450px; text-center ">
    The English Team at TISS designs and creates the CLIx English course for students and the English Teacher Professional Development (TPD) courses for teachers</p> -->
                </div>
    {% endif %}
            </div>
            <div class="row">
              <div class="col-11">

               <div class="carousel-team-card" data-flickity='{ "groupCells": 3, "wrapAround": true    }'>
                             
 


          <div class="carousel-team-card-cell our-team ">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="/static/ndf/images/noun_team_144387.png" alt="" style="margin-top:-15px;width:90px;height:auto"  />
                  </div>
                  <div class="card-team-name">
                    <h6 class="">Resources for Teacher Education</h6>
                                     </div>
                   <div class="card-team-content bio">

              <ul class="social" >
  <li >Ananaya Chatterji</li>,
  <li>Anusha Ramanathan</li>,
  <li>Cecilia D'Costa</li>,
  <li>Daniel D'Souza</li>,
  <li>Emaya Kannamma</li>,
  <li>Farrah Kerawalla</li>,
  <li>Gomathi Jatin</li>,
  <li>Jyoti Bhatia</li>,
  <li>Kinkini Dutta</li>,
  <li>Madhuja Golatkar</li>,
  <li>Mythili Ramchand</li>,
  <li>Piyush Prakash</li>,
  <li>Rajni Kumari</li>,
  <li>Ruchi Kumar</li>
              </ul>
                  </div>

                </div>

              </div>

              <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="/static/ndf/images/noun_team_144387.png" alt=""  style="margin-top:-15px;width:90px;height:auto" />
                  </div>
                  <div class="card-team-name  ">
                      <h6 class="">  Ground Assessment - Research
   </h6>
                      
                  </div>
                  <div class="card-team-content bio">
                     <ul class="social">
     
       <li>Ajay Singh</li>,
       <li>Anu Joy</li>,
       <li>Dhipthi Dhona</li>,
       <li>Geetha M</li>,
       <li>Jennifer Thomas</li>,
       <li>Kamakshi</li>,
       <li>Lalbiakdiki Hnamte</li>,
       <li>Manshvi Palan</li>,
       <li>Nishevita Jayendran</li>,
       <li>Padma Sarangapani</li>,
       <li>Rajasekhar</li>,
       <li>Ramaa Muthukumaran</li>,
       <li>Rekha Pappu</li>,
       <li>Saurav Mohanty</li>,
       <li>Shashank Parimi</li>,
       <li>Soham Bhattacharya</li>,
       <li>Surbhi Nagpal</li>

  </ul>  
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="/static/ndf/images/noun_team_144387.png" alt=""  style="margin-top:-15px;width:90px;height:auto" />
                  </div>
                  <div class="card-team-name">
                      <h6 class=" text-center"> Multilingual Webinars for school teachers and students by ITE & CLIx
 </h6>
                
                  </div>
                  <div class="card-team-content bio">
                    <ul class="">
     
       <li>Amitabh Anand</li>
       <li>Bindu Thirumalai</li>
       <li>Rafikh Shaikh</li>
       <li>Roshan Singh</li>
       <li>Sohini Sen</li>
       <li>Sumegh Paltiwale</li>
       <li>Tushar Goel</li>
       <li>Uchita Bakshani</li>
       <li>Ishmeet Kaur</li>

</ul> 
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="/static/ndf/images/noun_team_144387.png" alt=""  style="margin-top:-15px;width:90px;height:auto" />
                  </div>
                  <div class="card-team-name">
                    <h6 class="">  OER Repository  </h6>
               
                  </div>
                  <div class="card-team-content bio">
<ul >
  <li>Amitabh Anand</li>
  <li>Arushi Bansal</li>
  <li>Brij Kishore</li>
  <li>Devandhiran Duraipandi</li>
  <li>Diksha Rehal</li>
  <li>Emaya Kannamma</li>
  <li>Nikita Dhokale</li>
  <li>Raju Sambari</li>
  <li>Ramesh Nagula</li>
  <li>Sadaqat Mulla</li>
  <li>Saurabh Thakur</li>
</ul>

                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="/static/ndf/images/noun_team_144387.png" alt=""  style="margin-top:-15px;width:90px;height:auto" />
                  </div>
                  <div class="card-team-name">
                    <h6 class="">  <!-- Initiative -->   Technologies for Online Learning in School Education</h6>
                                 </div>
                  <div class="card-team-content bio">
<ul>
      <li>Amina Charania</li>
      <li>Omkar Balli</li>
      <li>Roshan Singh</li>
      <li>Sadaqat Mulla</li>
      <li>Sohini Sen</li>
      <li>Sumegh Paltiwale</li>
</ul>
  </div>
              
               


            </div>
              </div>

 <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="/static/ndf/images/noun_team_144387.png" alt=""  style="margin-top:-15px;width:90px;height:auto" />
                  </div>
                  <div class="card-team-name">
                    <h6 class="">  <!-- Initiative --> Communication Team</h6>
                                 </div>
                  <div class="card-team-content bio">
            <ul>

  <li>Anusha Ramanathan</li>
  <li>Deepa Bhalerao</li>
  <li>Garima Singh</li>
  <li>Jennifer Thomas</li>
  <li>Manshvi Palan</li>
  <li>Omkar Balli</li>
  <li>Satej Shende</li>
  <li>Sayan Bhattacharya</li>
  <li>Shiva Thorat</li>
  <li>Surbhi Nagpal</li>

 </ul>             
                    </div>
              




                </div>
              </div>
 <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="/static/ndf/images/noun_team_144387.png" alt="" style="margin-top:-15px;width:90px;height:auto" />
                  </div>
                  <div class="card-team-name">
                    <h6 class="">  <!-- Initiative --> Production and Technology Team </h6>
                                 </div>
                  <div class="card-team-content bio">
 
<ul>
<li>Durga Garapati</li>
<li>Ramesh Khade</li>
<li>Sadaqat Mulla</li>
<li>Satej Shende</li>
<li>Sayan Bhattacharya</li>
<li>Shiva Thorat</li>
<li>Shivani Dixit</li>
<li>Vighnesh Nair</li>
<li>Yogesh Bhavsar</li>
</ul></div>
              



                </div>
              </div>
 <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="/static/ndf/images/noun_team_144387.png" alt="" style="margin-top:-15px;width:90px;height:auto" />
                  </div>
                  <div class="card-team-name">
                    <h6 class="">  <!-- Initiative    Technologies for Online Learning in School Education -->

Project Management Team
   </h6>
                                 </div>
                  <div class="card-team-content bio">
<ul>

 <li>Deepa Bhalerao</li>
                  <li>Garima Singh</li>
                  <li>Manshvi Palan</li>
                  <li>Omkar Balli</li>
                  <li>Padma Sarangapani</li>
                  <li>Poonam Sachdev</li>
                  <li>Pratima Zore</li>
                  <li>Vishal Kshirsagar</li>
</ul>
  
</div>
              
</div>
	</div> 
             </div>

</div>


            </div>
            </div>








 <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css">
        <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>


